{% include 'header.html' %}

    {% include 'navbar.html' %}

    <!-- Content -->
    <div class="container mt-4">

        {% if error != None %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ error }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}

        {% if success %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ success }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        
        <div class="row justify-content-center">
            <div class="col-lg-6">
              <h2 class="text-center">Create {{data[3]}}s</h2>
              <form method="GET" action="/admin_edit_users_action">
                <input type="hidden" name="id" value="{{data[0]}}"/>
                <input type="hidden" name="role" value="{{data[3]}}"/>
                <div class="mb-3">
                  <label class="form-label">Username</label>
                  <input value="{{data[1]}}" name="username" type="text" class="form-control" required>
                </div>
                <div class="mb-3">
                  <label class="form-label">Password</label>
                  <input value="{{data[2]}}" name="password" type="text" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
        </div>
        
    </div>
{% include 'footer.html' %}