{% include 'header.html' %}

    {% include 'navbar.html' %}

    <!-- Content -->
    <div class="container mt-4">

        {% if error != None %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ error }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}

        {% if success %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ success }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h2 class="text-center">Create Subjects</h2>
            <form action="/admin_edit_subject_action" method="GET">
              <input value="{{data[0]}}" name="id" type="hidden">
              <div class="mb-3">
                <label class="form-label">Subject</label>
                <input value="{{data[1]}}" name="subject" type="text" class="form-control" required>
              </div>
              <div class="mb-3">
                <label class="form-label">Instrument</label>
                <input value="{{data[2]}}" name="instrument" type="text" class="form-control" required>
              </div>
              <div class="mb-3">
                <label class="form-label">Teacher</label>
                <select name="teacher" class="form-select" aria-label="Default select example">
                  {% for d in teachers %}
                    <option value="{{d[0]}}">{{d[1]}}</option>
                  {% endfor %}
                </select>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
      </div>

    </div>
{% include 'footer.html' %}